.star {
  width: 2px;
  height: 2px;
  background: white;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 2px #fff, 0 0 3px #fff;
  animation: animateStar 50s linear infinite;
  opacity: 0;
  font-family: 'Poppins', sans-serif;
}

@keyframes animateStar {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    transform: translateX(100vw);
    opacity: 1;
  }
}

.Experimental {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: linear-gradient(to top, rgb(0, 0, 100), black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;

}

.foregroundImage {
  background: url('../../Assats/Images/Unbenannt3.png') no-repeat center bottom;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.container {
  scroll-snap-type: y mandatory;
  z-index: 10;
}

.Experimental a {
  text-decoration: none;
  color: inherit;

}

.Experimental a:visited {
  color: inherit;

}

.Experimental h1 {
  font-size: 180px;
  margin-bottom: 10px;
  background-image: linear-gradient(358deg, #e0ecff, #3737ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

}

.bottom-right p {
  color: #fff;
  font-size: 38px;
  letter-spacing: 6.5px;
  margin-top: -72px;

}

.top-left {
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 38px;
}

.bottom-right {
  position: absolute;
  bottom: 60px;
  right: 150px;
  z-index: 2;
}

.light-blue {
  color: #6772a5;
}

.light-blueSmall {
  color: #7e80a7;
  font-size: 38px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery img {
  width: 30%;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .bottom-right {
    right: 10px;
    left: 10px;
    font-size: 18px;
    bottom: 10px;
  }

  .light-blueSmall {
    font-size: 18px;
    right: 10px;
    left: 10px;
  }

  .light-blue {
    font-size: 18px;
    right: 10px;
    left: 10px;
  }

  .home h1 {
    font-size: 75px;
    left: 10px;
    margin-bottom: 50px;
  }

  .top-left {
    left: 30px;
  }

  .home {
    height: 85vh;
  }

  .bottom-right p {
    font-size: 18px;
    left: 10px;
    letter-spacing: 1.3px;
  }

  body {
    overflow-x: hidden;
  }
}

.videoSection {
  margin-top: 100vh;
}

.sidebar {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 10;
}

.sidebarIndicator {
  width: 4px;
  height: 25px;
  margin: 10px 0;
  background-color: #ccc;
  transition: background-color 0.3s, height 0.3s;
  cursor: pointer;
  border-radius: 2px;
}


.sidebarIndicator.active {
  height: 60px;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

.child {
  scroll-snap-align: start;
  height: 100vh;
}

.noScrollSnap {
  scroll-snap-align: initial !important;
}